
<div class="text-center title">
  <!--{{title}}-->
</div>

<div class="container">
  <span class="btn btn-primary" (click)="showConnectOnClick()">Connect</span>
  <div class="row">
    <div class="col-md-12">
      <div class="alignleft">
        <div class="customBox" id="Source">
          Source
        </div>
      </div>
      <div class="alignright">
        <div class="customBox" id="Target1">
          Target 1
        </div>
      </div>
      <div style="clear: both;"></div>
    </div>
  </div>
</div>
