/* You can add global styles to this file, and also import other style files */

.connectingConnectorLabel, .connectedConnectorLabel {
  height: 25px;
  width: 110px;
  border-radius: 13px;
  color: #FFFFFF;
  text-align: center;
}

.connectingConnectorLabel {
  background-color: #456;
}
